// colors
$text-color: #222222;
$theme-color: #120a3d;
$secondary-color: #ed9334;
$ternary-color: #d9dbd0;
$link-color: $secondary-color;
$menu-item-color: #ffffff;

// fonts
$text-font : Helvetica, sans-serif;
$header-font: Montserrat, sans-serif;

// sizes
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
